PORT=4025
AUTH_SERVER_URL=https://mfa.node-hub.com
AUTH_APP_TOKEN=
AUTH_TENANT_ADMIN_TOKEN=
AUTH_TENANT_ID=default
AUTH_ADMIN_USER_HINT=admin@example.local
SESSION_SECRET=change-me
DATA_PATH=.data/users.json
